
body, html {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 13px;
        padding: 0;
        margin: 0;        
}
header, a {
    color: #000;
    font-size: 40px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}
header {
    border-bottom: rgba(38, 155, 108, 0.9) solid 3px;
}

footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 50px;
    background-color: #005231;
    
}
#pie {
    color: #fff;
    text-align: center;
}

.git { 
    color: #fff;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 9px;    
}
.enlacef { 
    color: #fff;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 13px;    
}
